{% extends "base.html" %}

{# Override the header to avoid build fails due to zola being unable to know the current path of a 404 page #}
{# see https://www.getzola.org/documentation/templates/overview/ #}
  {% block header %}
  <header>
    <div class="header-container">
      <nav class="menu">
          <ul class="nav">
              {% set menu_items = config.extra.navbar_items -%}
              {% for item in menu_items -%}
              <li class="nav-item">
                  <a href="{{ config.base_url ~ item.url  }}">{{ item.name }}</a>
              </li>
              {% endfor -%}
          </ul>
      </nav>
    </div>
  </header>
  {% endblock %}

{% block content %}

<h1>Page Not Found</h1>

<p>Go <a href="/">home</a>.</p>

<p>Or check the <a href="/publications">Publications</a>, <a href="/talks">Talks</a> or <a href="/teaching">Teaching</a> lists.</p>

{% endblock content %}
